@media screen and (max-width:412px) {
    header {
        padding: 10px 25px;
        display: flex;

    }

    .menu-icon {
        display: block;
    }

    .close img {
        width: 2rem;
    }
    .hack{
        flex-direction: column;
    }
    iframe{
        width: fit-content;
    }
    .nmap{
        text-align: center;
        margin-top: 1rem;
    }
   .number h5{
    /* text-align: center; */
   }

    .nav-links {

        display: block;
        min-width: 70vw;
        height: 51vh;
        background-color: #000;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: transform .5s ease;
    }


    .show {
        transform: translateX(0);
    }

    .nav-links li {
        text-align: center;
        margin-top: 4rem;
    }

    .nav-links span {
        display: block;
        position: absolute;
        top: 1rem;
        right: 2rem;
    }


    .test .hero-img {
        position: absolute;
        height: 60%;
        width: 100%
    }

    .title-1 {

        top: 11%;
        left: 32%;
        font-size: 1.2rem;
    }

    .title-2 {


        top: 15%;
        left: 35%;
        font-size: .9rem;
    }








    .test {
        width: 100%;
        height: 100vh;
        background-size: cover;
        position: relative;
    }





    #our {
        margin-top: -70%;
    }


    h2 {
        /* padding: 20px; */
        text-align: center;
        color: #F39E21;
        font-family: 'Satisfy', sans-serif;
        font-size: 2.5em;
        /* width: 13rem; */
    }


    .main p {
        text-align: center;
        padding: 0 4rem;
    }

    .main span {
        font-weight: bolder;
    }

    /* .nav-links {
        color: rgb(255, 255, 255);
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;
        margin-right: 7%;
        display: none;
    } */

    .nav-links a {
        color: #fff;
    }



    .logo img {
        width: 70px;
    }

    .place {
        display: flex;
        flex-direction: column;
        gap: 3rem;

    }

    /* h2.contacts {
        width: 13rem;
    } */

    .place img {
        width: 30vh;
        padding-bottom: 48px;
    }

    .food {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 2rem;
        gap: 4rem;
    }

    .food img {
        cursor: pointer;
        border: 2px solid #000;
        width: 20rem;
        height: 20rem;
    }

    footer {
        padding: 16px;
        margin-top: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(120, 120, 120)
    }

    footer p {
        width: fit-content;
        text-align: center;
    }

    div.about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

    }

    div.about div.kitchen {
        display: flex;
        flex-direction: column;
        height: 355px;
        justify-content: space-around;
    }

    div.about div.kitchen img {
        width: 100%;
    }


    div.about div.kitchen p {
        line-height: 1.6;
        text-align: center;
        padding-bottom: 1rem;

    }

    div.about div.kitchen div p {
        padding-bottom: 1rem;
        text-align: left;
        font-size: xx-small;
    }

    div.kitchen span {
        font-weight: bolder;
    }

    .fish img {
        width: 100%;
        height: 100%;

    }

    .fish {
        height: 700px;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        /* background-color: red; */
        justify-content: space-around;
        gap: 1rem;
        padding: 0;
        margin-top: 2rem;
        margin-left: 28px;
        top: 26%;
    }

    .contact-form input,
    textarea {
        width: 20rem;
        padding: 10px 20px;
        border: 1px solid black;
        border-radius: .5rem;

    }

    .contact-form .left {
        display: flex;
        justify-content: start;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        /* background-color: blue; */

    }

    .contact-form .left .full-name {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: .5rem;
    }

    .contact-form .left .full-name div {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .contact-form .right {
        /* background-color: green; */
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .contact-form .right textarea {
        width: 20rem;

    }

    .contact-form .left .Email {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .contact-form .left .Email input {
        width: 100%;
    }

    .contact-form input,
    textarea {
        background-color: rgb(236, 236, 236);
    }

    a:hover,
    a:active {
        color: #F39E21;
    }

    a.home,
    a.menu,
    a.about,
    a.contact {
        color: #F39E21 !important;
    }

    .filter {
        /* display: flex; */
        /* justify-content: center; */
        /* list-style-type: none; */
        gap: 1rem;
        /* margin-top: 1.32rem;  */

        /* .filter li {
        background-color: #9C9191;
        padding: .60rem 1.2rem;
        font-family: 'satisfy';
        cursor: pointer;
        border-radius: .5rem;
    } */
    }

    .plat img {
        width: 7%;
        border-radius: 8px;
    }

    .number {
        text-align: center;
        width: 19rem;
        left: 11%;
        top: 100%;
    }

    .map {
        position: relative;
        margin: 1% 0 -10% -75px;
        left: 39%;
        width: 80%;
    }

    button {
        background-color: #000;
        font-weight: bolder;
        color: #F39E21;
        border-radius: 5px;
        width: fit-content;
        padding: .2rem .5rem;
        font-size: 1.1rem;
        cursor: pointer;
    }

    .plat {
        display: flex;
        padding: 10px;
        background-color: #9C9191;
        margin: 10px;
        border-radius: 20px;
        justify-content: center;
        gap: 2rem;
        position: relative;
    }

    .plat div {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
    }

    .plat div h4 {
        font-size: 1.5rem;
        margin-bottom: .5rem;
    }

    .plat div strong {
        font-size: 2rem;
    }



    .plat div button {
        align-self: flex-end;
        position: absolute;
        bottom: 10%;
        right: 1rem;
    }

    .plat img {
        width: 40%;
    }

    .all-plat {
        margin: 3rem;
        display: flex;
        justify-content: center;
        width: 70%;
        border-radius: 8px;
    }

    #P {
        font-size: small;
        text-align: center;
        margin-top: -20%;
        width: 72%;
        left: 20%;
        position: relative;
    }

    .alll-plat {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cart {
        position: relative;
        background-color: #75757584;
        left: 22px;
        width: 87%;
        top: 0;
        overflow-y: scroll;


    }

    #Sushi,
    #Oden,
    #Ramen {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 86%;

    }


    .p-cart {
        background-color: rgb(202, 202, 202);
        height: 70%;

    }

    .total {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 50px;
        justify-self: center;
        margin-bottom: 1.2rem;
        padding-top: 8px;

    }

    .total strong {
        padding: 2px;
        background-color: rgb(228, 228, 228);
        border-radius: 1rem;
    }

    .wlcome-hero {
        color: #ffc95e;
        top: 32%;
        width: 57%;
        font-size: medium;